<div class="main-heading">
    <div class="main-title">
        <ol class="breadcrumb">
            <li class="active">Walls</li>
        </ol>
    </div>
    <div class="main-filter">
        <form class="main-filter__search">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" ng-click="wall.open()">
                      <span class="panel-title">add wall </span><div class="fa fa-plus-circle"></div>
                    </button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid half-padding">
    <div class="pages pages_dashboard">
        <div class="row">
            <div class="col-md-2 wall" ng-repeat="currentWall in wall.walls"
                 ng-click="wall.viewStories(currentWall.id)">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{currentWall.name}}</h3>
                    </div>
                    <div class="panel-body">
                        <!--<div class="ov-widget">-->
                            <!--<div class="ov-widget__list">-->
                                <!--<div class="ov-widget__item ov-widget__item_dec">-->
                                    <!--<div class="ov-widget__value text-colour-danger">300</div>-->
                                    <!--<div class="ov-widget__info">-->
                                        <!--<div class="ov-widget__title">Backlog</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="ov-widget__item ov-widget__item_warn">-->
                                    <!--<div class="ov-widget__value text-colour-warning">100</div>-->
                                    <!--<div class="ov-widget__info">-->
                                        <!--<div class="ov-widget__title">To Do</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="ov-widget__item ov-widget__item_tack">-->
                                    <!--<div class="ov-widget__value text-colour-primary">10</div>-->
                                    <!--<div class="ov-widget__info">-->
                                        <!--<div class="ov-widget__title">In Progress</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="ov-widget__item ov-widget__item_inc">-->
                                    <!--<div class="ov-widget__value">950</div>-->
                                    <!--<div class="ov-widget__info">-->
                                        <!--<div class="ov-widget__title">Done</div>-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>