/*
 * Text Colours
 */

$text-colour-danger: #ed4949;
$text-colour-primary: #1c8ed7;
$text-colour-warning: #FED42A;
$text-colour-success: #20c05c;

.text-colour-danger {
  color: $text-colour-danger !important;
}

.text-colour-primary {
  color: $text-colour-primary !important;
}

.text-colour-warning {
  color: $text-colour-warning !important;
}

.text-colour-success {
  color: $text-colour-success !important;
}



/*
 * wall
 */
.wall, .story {
  cursor: pointer;
}



/*
 * Override template styles
 */
.wrapper {

  .main {
    padding-left: 0;
    margin-left: 0;

    .main__scroll {
      .main__cont {
        .main-heading {
          .main-filter {
            .main-filter__search {
              button {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

}